* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(135deg, #667eea, #764ba2); */
  background-color: #111827;
}

/* Counter */

.counter-container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 2.5rem 3rem;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.counter-container h1 {
  color: #fff;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}

.counter-display {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 2rem;
}

/* Button */

.btn-group {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.7rem 1.6rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Increment */

.increment {
  background: #059038;
  color: #080d0c;
}

/* Decrement */

.decrement {
  background: #a51d1d;
  color: #0f0909;
}

/* reset */

.reset {
  background: #e5e7eb;
  color: #05070c;
}

/* //Hover Effect */

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  display: block;
  filter: drop-shadow(0 0 10px #858f03);
}
